/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2015, 8:16:32 PM
    Author     : AMMAD
*/
body{padding-top: 100px;}
.mcadminbar{width: 100%; height: 100px; background: #f0f0f0;position: fixed;z-index: 1;}
.mclogo{width: 50px; height: 50px; background: #f0f0f0; padding: 5px; font-size: 35px; text-align: center; float: left;}
.mclogo a{text-decoration: none; color: #D5D5D5; display:block; /* background:#444 */}
.mcvisitsite{width: 50px; height: 50px; background: #444; padding: 5px; font-size: 35px; text-align: center; float: left;}
.mcadmindetail{width: 80px; height: 50px; }
.mcadminimg{width: 60px; height: 50px; background: #C2C2C2; border-right: 1px solid #D5D5D5;}
.msadmindropdown{}
.mcadminnavigation{width: 100%; height: 50px;clear: both;background: #DDDDDD;}
.mcadminnavigation ul{}
.mcadminnavigation ul li{width: 110px; display: inline-block; list-style: none; /* padding: 5px; */ border-right: 1px solid #C7C7C7; margin-left: -4px;}
.mcadminnavigation ul li a{text-align: center; padding: 15px; display: block; color: #333; text-decoration: none;}
.mcadminnavigation ul li a:hover{background: #c7c7c7;}
.mcfrontsitedetail{width: 100%; height: 1200px;; background: #F4F4F4;}
.wrap{padding: 20px;}
.wrap h2{padding: 2px;}
.frontsitedetail{width: 100%; height: 400px; background: #FFFFFF; border: 1px solid #dddddd; padding: 10px;}
.frontsitedetail h2{}
